html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	color: white;
	background-color: black;
}

header{
	display: flex;
	justify-content: flex-end;
	padding: 8px 32px;
	gap: 16px;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
}

.logo{
	margin-right: auto;
}

.content{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
